body{
	margin:0;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}


#maincontainer {
	background-color: #E8E8E8;
}
#contentwrapper{
	float: left;
	width: 100%;
}

#contentcolumn{
	margin-left: 200px; /*Set left margin to LeftColumnWidth*/
	height: 100%;
}

#left_col {
	width: 200px; 
	float: left;
	margin-left: -100%;
}

#footer{
	clear: left;
	width: 100%;
	border-top: 1px solid #005974;
	text-align: center;
	padding: 4px 0;
	background-color: #005974;
}

#footer a{
}

.innertube{
	margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-bottom: 0px;
	margin-top: 0;
}
/* Navigation */

.left_menu ul {
  margin: 0; 
  padding: 0;
  width:185px;
  list-style-type: none;
}

.left_menu ul li a {
  text-decoration: none;
  color: white; 
  padding: 10.5px 11px;
  background-color: #005555;
  display:block;
}
 
.left_menu ul li a:visited {
  color: white;
}
  
.left_menu ul li a:hover, .menu_simple ul li .current {
  color: white;
  background-color: #5FD367;
}
