<h2>WeKan</h2>
<p>
While trying to decide which of the very few data portals to deploy, (CKAN, DKAN etc) we ran into a few limitations on the sustainability of the existing portals. DKAN is broken, and CKAN is heavy in python, and for some reason Code4Sac does not have a strong python volunteer. We also had the idea that the community needed a "very" simple to use and deploy portal that can do the trick. No fancy API's, or exporting. Thats all built into fusion tables.
</p>
<p>
We do have a healthy assortment of PHP volunteers, so we decided to put this together. We were under a deadline to have a portal up for the National Day of Civic Hacking, and this was actually the fastest route.
</p>
<p>
We went with the name of "WeKan", because it is similar to the other data portal names, and because it was something WE CAN do. Unlike dealing with the deployment of existing portals.
</p>

<p>
Released on GitHub: <a href="https://github.com/code4sac/wekan">WeKan<a/>
</p>
